html {
    font-family: 'Bitter', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region Utilities*/
:root {
    --bool-editorial: rgba(69, 171, 233, 1);
    --bool-goals: rgba(156, 114, 228, 1);
    --bool-recruiting: rgba(100, 192, 169, 1);
    --bool-mobile: rgba(242, 158, 51, 1);
    --bool-website: rgba(216, 99, 160, 1);
    --bool-sales: rgba(176, 201, 38, 1);
    --bool-sectionfont: rgba(68, 72, 81, 1);
    --bool-sectioncheck: rgb(109, 197, 175);
    --bool-sectioncross: rgb(234, 86, 79);
    --bool-background: rgb(246, 248, 249, 1);
}

/*#endregion Utilities*/

body{
    background-color: var(--bool-background);
}

/*#region PageTitle */
.page_header {
    padding: 1rem;
    background-color: white;
}

h1 {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.3rem;
    font-size: 40px;
}

/*#endregion PageHeader */

/*#region PageHeader */

.card_header{
    border-bottom: 3px solid var(--bool-background);
    padding-left: 2rem;
    padding-top: 2rem;
}

main {
    margin: 13rem ;
    margin-top: 2rem;
    background-color: rgb(246, 248, 249) ;
}
#addtask {
    background-color: var(--bool-editorial);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    margin-bottom: 3rem;
}

#addsection {
    padding: 0.5rem;
    border-radius: 5px;
    border-width: 0.1rem;
    border-color: lightgray;
    width: 7rem;
    text-align: center;
}



/*#endregion PageHeader */

/*#region Contents */

/*#region Bookmarks */
.bookmarksq1goals {
    background-color: var(--bool-goals);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding-left: 0.6rem;
    ;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.bookmarkseditorial {
    background-color: var(--bool-editorial);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.bookmarkrecruiting{
    background-color: var(--bool-recruiting);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.bookmarkmobile{
    background-color: var(--bool-mobile);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.bookmarkwebsite{
    background-color: var(--bool-website);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.bookmarksales{
    background-color: var(--bool-sales);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

/*#endregion Bookmarks */

.itemlist {
    color: var(--bool-sectionfont);
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.check {
    display: inline-block;
    color: var(--bool-sectioncheck);
    border: solid 1px var(--bool-sectioncheck);
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    font-size: 18px;
    }

span{
    padding-left: 0.5rem;
}






.cross {
    display: inline-block;
    color: var(--bool-sectioncross);
    border-color: var(--bool-sectioncross);
    border: solid 1px;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    font-size: 18px;
   }

footer{
    display: none;
}

.line{
padding: 1rem 0;
list-style: none;
}
/*#endregion Contents */
li{
 padding-bottom: 1rem;
}